{% extends 'base.html.twig' %}

{% block title %}{{ title }} | Waldbyte HR{% endblock %}

{% block body %}
    <div class="page-title">
        <h1>{{ title }}</h1>
        <a class="button button-secondary" href="{{ path('admin_tasks') }}">Back</a>
    </div>

    <section class="form-shell">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="actions">
                <button type="submit">Save</button>
            </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
